.updatePasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    left: 0;
}

.updatePasswordBox{
    width: 30vw;
    height: 70vh;
    overflow: hidden;
}

.updatePasswordBox > h2 {
    text-decoration: underline ;
    text-decoration-color: rgba(36, 35, 35,0.4);
    text-decoration-thickness: 2px;
    color: crimson;
    font: 500 2.5vmax cursive ;
}

.updatePasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}

.updatePasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updatePasswordForm > div > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 1vamx cursive;
    outline: none;
}

.updatePasswordForm > div > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: (0,0,0,0.623);
}
 
.updatePasswordBtn{
    border: none;
    background-color: crimson;
    color: white;
    font: 500 1.2vmax cursive;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}

.updatePasswordBtn:hover{
    color: crimson;
    background-color: rgba(209, 170, 170, 0.3);
    border: 1px solid crimson;
} 

@media screen and (max-width:600px) {
    .updatePasswordBox{
        width: 90vw;
        height: 85vh;
    }
    
    .updatePasswordForm{
        padding: 5vmax;
    }

    .updatePasswordForm > div > input{
        padding: 2.5vmax 5vmax;
        font: 500 2vmax cursive;
    }
    
    .updatePasswordForm > div > svg{
        font-size: 3vmax;
    }

    .updatePasswordBtn{
        font: 500 2.9vmax "Lucida Sans";
        padding: 1.8vmax;
    }
    
}